<!DOCTYPE html>
<html data-ng-app='ngToDo'>
<head>
  <meta charset="utf-8">
  <title>Note to Self</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>

  <script type="text/javascript" src="app.js"></script>
</head>
<body data-ng-controller="myNotesCtrl">
	<div class="container">
		<h1>Note to Self</h1>
		<h2>where you remember that thing you were supposed to do.</h2>
		New note to self:
		<input data-ng-class="newNotes" data-ng-model="newNote" type="text" />
		<button data-ng-click="addNote(newNote)">Add</button>
		<ul>
			<li data-ng-repeat = "note in notes">{{note}}</li>
		</ul>

	</div>
</body>
</html>
